@namespace "http://www.w3.org/1999/xhtml";
@-moz-document domain("forlornhopemercs.enjin.com") {
  body { 
    background-color: #131313;
  }
  
  #page-wrap.old {
    color: #9b8253;
    background-color: #363636;
  }
  
  #page-wrap {
    color: #9b8253;
    background-color: #262626;
  }
  
  #enjin-bar {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  a.old {
    color: #800808;
  }
  a {
    color: #944;
  }
  
  .m_header {
    display:none;
    
  }
  
  .m_eventcalendar .fc-grid div.fc-day-number {
    color: #bbb;
  }
  .fc-event a {
    color: #bbb;  
  }
  
  tr.fc-week0 > td.fc-state-default.fc-other-month.fc-not-today,
  tr.fc-week5 > td.fc-state-default.fc-other-month.fc-not-today {
    background-color: #161616;
  }
  
  .m_eventcalendar .fc-content td.fc-state-highlight {
    background-color: black;
  }
  
  .m_eventcalendar .fc-content tr > td.fc-state-default,
  .m_eventcalendar .fc-content tr > th.fc-state-default {
    border-color: red;
  }
  
  
  body.dark-theme.fixed > div.element_popup.element_dropdown_menu.enjinbar-menu.enjinbar-menu-user .element_popup.inner {
    background-color: black;
  }

  
}